<%- include ('../layouts/header') %>
<div class="row">

    <div class=".col-md-4.col-md-offset-4">
        <H1>Sign IN</H1>
        <% if (hasErrors) {%>
            <div class="alert">
                <%  messages.forEach(msg => { %>
                    <p><%=msg  %> </p>
                <% }) %> 
            </div>
        <%}%>

        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit">Sign IN </button>
            <input type="hidden", name="_csrf", value="<%=csrfToken%>">

        </form>
        <a href="/user/signup">Sign UP</a>


    </div>

</div>
<%- include ('../layouts/footer') %>