<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg}}
        </div>
    </div>
</div>


<div>
{{# each products }}

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{this.imagePath}}" alt="..." class="img-responsive">
                    <div class="caption">
                        <h3>{{this.title}}</h3>

                        <div class="clearfix">
                            <div class="price pull-left">${{this.price}}</div>
                            <form method="post" action="/add-to-cart/{{this.id}}"><input type="submit" class="btn btn-success pull-right" value="Add to cart"></form>
                            <a href="/info/{{this.id}}" class="btn btn pull-right" role="button">More</a>
                        </div>
                    </div>
                </div>




    </div>
{{/each}}

</div>
