{{#if products}}
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <ul class="list-group">
                {{#each products}}


                <li class="list-group-item">
                    <span class='alert'>{{this.qty}}</span>
                    <strong>{{this.item.title}}</strong>
                    <span class="label label-success">${{this.price}}</span>
                    <div class="btn-group">
                        <button class="btn primary", type="button", data-toggle="dropdown">Action<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <form method="post" action="/reduce/{{this.item.id}}"><input type="submit" class="btn" value="-1"></form>
                            </li>
                            <form method="post" action="/remove/{{this.item.id}}"><input type="submit" class="btn" value="-ALL"></form>

                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <strong>Total:${{totalPrice}}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <a href="/checkout" class="btn btn-success", type="button">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <h2>Cart is empty</h2>
        </div>
    </div>
{{/if}}


